@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  font-size: 16px;
  overflow-x: hidden;
}

*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

img {
  width: 100%;
}
 span.a{
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  padding-left: 10%;
  padding-top: 1%;
  border: 1px solid rgb(251, 251, 252);  
  background-color: rgb(236, 236, 233); 
 }

p {

  font-size: 500%;
}

p .small {
  font-size: 0.875rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h1 .sub {
  font-size: 3rem;
  font-weight: 800;
  color: #c3c3c3;
}

h2 {
  font-size: 2.75rem;
  font-weight: 800;
}

h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

h4 {
  font-size: 2.25rem;
  font-weight: 800;
}

h5 {
  font-size: 1.25rem;
  font-weight: 800;
}

h6 {
  font-size: 1.125rem;
  font-weight: 800;
}

.w-80 {
  width: 80%;
}

.pt-6 {
  padding-top: 5rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

header {
  padding: 1rem 0;
  background-color: #FFFFFF;
  border-bottom: 1.8px solid #ebeae8;
}
header nav .__navbar .nav-item .nav-link {
  color: #000;
}
header nav .__navbar .nav-item .get-header-link .airplane {
  background-color: #095fa2;
  padding: 0.58rem 1rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
header nav .__navbar .nav-item .get-header-link .airplane img {
  width: 1rem;
  height: 1rem;
}
header nav .__navbar .nav-item .get-header-link .get-btn {
  padding: 0.6rem 1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #fc8729;
  color: #FFFFFF;
  text-decoration: none;
}

.title-header {
  background-color: #f6f6f6;
  padding: 1rem 0;
  box-shadow: 0px 16px 6px -13px rgba(0, 0, 0, 0.86);
}
.title-header h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}
.title-header h5 span {
  font-size: 1rem;
  font-weight: 600;
  color: #7e7f7f;
}

.agreement-hero {
  background-color: #ebeae8;
  box-shadow: 0px 15px 13px -13px rgba(0, 0, 0, 0.3);
}
.agreement-hero .pogress-bar {
  position: relative;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  font-weight: 400;
  width: 20rem;
  background-color: #FFFFFF;
  border-radius: 0.4rem;
}
.agreement-hero .pogress-bar::before {
  content: "";
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  position: absolute;
  background-color: #fc8729;
  width: 2.2rem;
  height: 2rem;
  top: -1px;
  opacity: 0.7;
}
.agreement-hero .heading h4 {
  font-size: 1.2rem;
  color: #373b3d;
  font-weight: 500;
}
.agreement-hero .heading p {
  font-size: 0.9rem;
}
.agreement-hero .calendar h6 {
  font-size: 1rem;
  color: #373b3d;
  font-weight: 500;
}
.agreement-hero .calendar input {
  background-color: #FFFFFF;
  border: 1px solid #c3c3c3;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: #c3c3c3;
}
.agreement-hero .cta-save .save {
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #7e7f7f;
  background-color: #FFFFFF;
  border-radius: 0.3rem;
  border: 1px solid #c3c3c3;
  padding: 0.4rem 1rem;
}
.agreement-hero .cta-save .continue {
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
  outline: none;
  padding: 0.3rem 1.8rem;
  background-color: #095fa2;
  border-radius: 0.3rem;
  color: #FFFFFF;
  border: none;
}
.agreement-hero .cta-save .continue .arrow {
  position: absolute;
  background-color: orange;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.agreement-hero .get-help {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 6px 12px 20px rgba(132, 132, 132, 0.2);
  padding: 1rem 0;
}
.agreement-hero .get-help h5 {
  font-size: 1.5rem;
  color: #095fa2;
  font-weight: 600;
}
.agreement-hero .get-help p {
  font-size: 1rem;
  font-weight: 300;
}
.agreement-hero .get-help .help-box textarea {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-color: #c3c3c3;
}
.agreement-hero .get-help .get-help-btn {
  background-color: #095fa2;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 2rem;
}

.middle-content {
  padding: 2rem 5rem;
  box-shadow: 6px 12px 20px rgba(132, 132, 132, 0.4);
}
.middle-content h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
.middle-content p {
  font-size: 0.9rem;
}

footer {
  background: #51545d;
  padding-top: 10rem;
  position: relative;
}

footer .logo {
  margin-bottom: 2rem;
}

footer .logo img {
  width: 75%;
}

footer h6 {
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #FFFFFF;
}

footer p {
  margin: 0;
  font-size: 0.875em;
  opacity: 0.5;
}

footer .terms__ li a {
  color: rgb(235, 232, 232);
  font-size: 0.875em;
  opacity: 0.5;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

footer ul li {
  margin-bottom: 0.4rem;
}

footer ul li a {
  color: rgb(213, 212, 212);
  text-decoration: none;
  line-height: 2;
  position: relative;
  display: inline-block;
}

footer ul li a:hover {
  color: #202020;
}

footer ul li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  bottom: 2px;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: center top;
}

footer ul li a:hover::after {
  transform: scale(1, 1);
}

footer .social__icons li {
  display: inline-block;
  margin-bottom: 1rem;
}

footer .social__icons li a {
  background-color: #FFFFFF;
  font-size: 1.1rem;
  color: #202020;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 3rem;
  margin-right: 0.6rem;
}

footer .social__icons li a:hover {
  background-color: #202020;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

footer .social__icons li a:hover::after {
  all: unset;
}

.footer-bottom {
  text-align: center;
  background-color: #353943;
  padding: 2rem 0;
}
.footer-bottom p {
  font-size: 1rem;
  color: #c3c3c3;
}

.chat-with-us {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.chat-with-us a img {
  width: 10rem;
}

.footer-tel {
  text-decoration: none;
  font-size: 1.3rem;
  color: #c3c3c3;
}
.footer-tel:hover {
  color: #c3c3c3;
}

.footer-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #c3c3c3;
}/*# sourceMappingURL=style.css.map */